/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  flex-direction: column;
}

.chat-window {
  width: 100%;
  max-width: 600px;
  height: 80vh;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

@media (max-width: 600px) {
  .chat-window {
    width: 90%;
    height: 70vh;
  }
}

.user-message,
.system-message {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.user-message {
  color: #fff;
  align-self: flex-end;
  margin-right: 10px;
}

.system-message {
  background-color: #f5f5f5;
  color: #333;
  margin-left: 10px;
}

.message {
  margin-bottom: 1rem;
}

.user-message {
  text-align: right;
}

.message-content {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  max-width: 80%;
  word-wrap: break-word;
}

.user {
  background-color: #4db6ac;
  color: white;
}

.gpt {
  background-color: #efefef;
  color: #333;
}

form {
  display: flex;
  margin: 1rem;
}

input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

button {
  background-color: #4db6ac;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Add these styles to your App.css */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0099ff;
  z-index: 9999;
  animation: fadeOut 1s ease-in-out 1s forwards;
}

.splash-logo {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  animation: fadeOut 1s ease-in-out 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.waiting-bubble {
  text-align: left;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  margin-left: 10px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 4px;
  animation: dotBouncing 1.4s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: -0.4s;
}

.dot:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes dotBouncing {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

.gpt-message {
  text-align: left;
  margin-bottom: 5px;
  margin-left: 10px;
}
